<!DOCTYPE html>
<html class="wf-museosans-i3-active wf-museosans-i5-active wf-museosans-i7-active wf-museosans-n3-active wf-museosans-n5-active wf-museosans-n7-active wf-active"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<title>DigitalOcean Control Panel</title>
<script src="billing_files/s.js" async="" type="text/javascript"></script><script src="billing_files/ga.js" async="" type="text/javascript"></script><script async="" type="text/javascript" src="billing_files/vbr8xjq.js"></script><script>
  //<![CDATA[
    (function() {
      var config = {
        kitId: 'vbr8xjq',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  //]]>
</script>

<link href="billing_files/normalize-f2f50cf9ffdd9e826a5eb92d93d528bd.css" media="screen" rel="stylesheet" type="text/css">
<link href="billing_files/application-cbcaf2e6c4544175fc1003737e565728.css" media="screen" rel="stylesheet" type="text/css">
<link href="billing_files/select2-6b9f2b7ccbe6a6b2ced0d22b0ec77f5d.css" media="screen" rel="stylesheet" type="text/css">
<script src="billing_files/application-ca90e932faa0edb95e3292651f3db30c.js" type="text/javascript"></script><style type="text/css"></style>
<script src="billing_files/select2-c93e4d6c601e5df746f715da35e03fe8.js" type="text/javascript"></script>
<meta content="authenticity_token" name="csrf-param">
<meta content="lTy911DKDYHjgEFdv6t0r1ClmNLGICOJT+50Hw7BkkA=" name="csrf-token">
<script type="text/javascript">
  var _user_id = 407242; var _sift = _sift || []; _sift.push(['_setAccount', '96ba7c9ef0']); _sift.push(['_setUserId', _user_id]); _sift.push(['_trackPageview']); (function() { function ls() { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.siftscience.com/s.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); } if (window.attachEvent) { window.attachEvent('onload', ls); } else { window.addEventListener('load', ls, false); }})();
</script>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26573244-1']);
  _gaq.push(['_setDomainName', 'digitalocean.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script>
  //<![CDATA[
    var sessionActiveTimeout = new Date(1405748428000);
    var sudoTarget;
  //]]>
</script><style type="text/css">.tk-museo-sans{font-family:"museo-sans",sans-serif;}</style><link href="billing_files/d.css" rel="stylesheet">

</head>
<body class="billing control_panel index">
<div id="container">
<div id="content">
<div class="contents">
<aside id="sidebar">
<div id="logo-wrapper">
<a href="https://cloud.digitalocean.com/droplets" id="logo">DigitalOcean</a>
<a data-original-title="We have updated our Terms of Service" href="https://cloud.digitalocean.com/settings/notifications" data-placement="right" data-toggle="tooltip" id="notification-count" title=""><span>1</span>
</a></div>
<a href="https://cloud.digitalocean.com/droplets/new" id="create_droplet">Create</a>
<ul>
<li class="droplets">
<a href="https://cloud.digitalocean.com/droplets">Droplets</a>
</li>
<li class="images">
<a href="https://cloud.digitalocean.com/images">Images</a>
</li>
<li class="ssh_keys">
<a href="https://cloud.digitalocean.com/ssh_keys">SSH Keys</a>
</li>
<li class="billing current">
<a href="https://cloud.digitalocean.com/billing">Billing</a>
</li>
<li class="support">
<a href="https://cloud.digitalocean.com/support">Support</a>
</li>
<li class="in_labs dns">
<a href="https://cloud.digitalocean.com/domains">DNS</a>
</li>
<li class="api">
<a href="https://cloud.digitalocean.com/settings/applications">Apps &amp; API</a>
</li>
</ul>
<!--
<ul id='labs'>
<li class='labs'>LABS</li>
</ul>
-->
<div id="current_user">
<a data-original-title="Settings" href="https://cloud.digitalocean.com/settings" data-toggle="tooltip" id="user-settings" title=""><span class="icon">Settings</span>
</a><a data-original-title="Logout: bj_liwei@yahoo.com" href="https://cloud.digitalocean.com/logout" data-toggle="tooltip" id="user-logout" title=""><span class="icon">Logout</span>
</a></div>
</aside>

<div id="main">
<header>
<span class="icon"></span>

<h1>Billing</h1>
<a href="https://cloud.digitalocean.com/user_payment_profiles" class="button">Manage Payments</a>

</header>

<h2 class="section-header balance">Balance &amp; Usage</h2>
<div id="account_balance">
<h3 class="credit">
$7.92
<small>You have credit</small>
</h3>
</div>
<div id="current_charges">
<h3 class="outstanding">
$0.03
<small>
<a href="https://cloud.digitalocean.com/billing/1592123.pdf" target="_blank">View this month's usage and charges</a>
</small>
<a data-original-title="Earn credits by referring friends" href="https://cloud.digitalocean.com/settings/referrals" class="button-alternate" data-disable-on-click="true" data-toggle="tooltip" title="">Earn Credits</a>
</h3>
</div>
<h2 class="section-header history">Billing History</h2>
<table class="listing">
<thead>
<tr>
<th>Date</th>
<th>Description</th>
<th>Amount</th>
<th></th>
</tr>
</thead>
<tbody>
<tr>
<td>June  1, 2014</td>
<td>Invoice for May 2014</td>
<td>$0.55</td>
<td class="view"><a href="https://cloud.digitalocean.com/billing/1237335.pdf" target="_blank">View Invoice</a></td>
</tr>
<tr>
<td>May  1, 2014</td>
<td>Invoice for April 2014</td>
<td>$0.39</td>
<td class="view"><a href="https://cloud.digitalocean.com/billing/1080669.pdf" target="_blank">View Invoice</a></td>
</tr>
<tr>
<td>April  1, 2014</td>
<td>Invoice for March 2014</td>
<td>$0.73</td>
<td class="view"><a href="https://cloud.digitalocean.com/billing/930914.pdf" target="_blank">View Invoice</a></td>
</tr>
<tr>
<td>March  1, 2014</td>
<td>Invoice for February 2014</td>
<td>$0.37</td>
<td class="view"><a href="https://cloud.digitalocean.com/billing/809412.pdf" target="_blank">View Invoice</a></td>
</tr>
<tr>
<td>February  1, 2014</td>
<td>Invoice for January 2014</td>
<td>$0.01</td>
<td class="view"><a href="https://cloud.digitalocean.com/billing/678266.pdf" target="_blank">View Invoice</a></td>
</tr>
<tr class="hidden">
<td>January 24, 2014</td>
<td>Give us a shot! Here is a $5 credit.</td>
<td>-$5.00</td>
<td class="view"></td>
</tr>
<tr class="hidden">
<td>January  9, 2014</td>
<td>PayPal</td>
<td>-$5.00</td>
<td class="view"></td>
</tr>
</tbody>
</table>
<div class="toggle-listing" id="view_history">
<a href="#view_history" class="show-listing shown" id="view_all_events">View Complete History
<span class="caret-down"></span>
</a><a href="#view_history" class="hide-listing" id="view_latest_events">View Latest History
<span class="caret-up"></span>
</a></div>


</div>
</div>
</div>
</div>

  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 1010666955;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<div style="display:none">
  <script type="text/javascript" src="billing_files/conversion.js">
  </script><iframe name="google_conversion_frame" title="Google conversion frame" src="billing_files/a.htm" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" frameborder="0" height="13" scrolling="no" width="300">&lt;img
 height="1" width="1" border="0" alt="" 
src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1010666955/?frame=0&amp;random=1405747234383&amp;cv=7&amp;fst=1405747234383&amp;num=1&amp;fmt=1&amp;guid=ON&amp;u_h=768&amp;u_w=1280&amp;u_ah=738&amp;u_aw=1280&amp;u_cd=24&amp;u_his=5&amp;u_tz=480&amp;u_java=false&amp;u_nplug=44&amp;u_nmime=143&amp;frm=0&amp;url=https%3A//cloud.digitalocean.com/billing&amp;ref=https%3A//cloud.digitalocean.com/"
 /&gt;</iframe>
</div>
<noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1010666955/?value=0&amp;guid=ON&amp;script=0"/>
  </div>
</noscript>

  <script type="text/javascript" src="billing_files/pix.js"></script>
  <script src="billing_files/oct.js" type="text/javascript"></script>
<script type="text/javascript">
  twttr.conversion.trackPid('l4etp');
</script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l4etp&p_id=Twitter" />
  <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l4etp&p_id=Twitter" />
</noscript>



<div class="helper-bottom-right">
<a data-original-title="Help us improve! Leave Feedback" class="helpers feedback" data-toggle="tooltip" href="http://digitalocean.uservoice.com/forums/136585-digital-ocean" target="_blank" title=""></a>
<div id="opacity-fade"></div>
<div id="pageslide">
<div id="pageslide-contents">
<a href="javascript:$.pageslide.close()" class="btn icon close" id="btn_pageslide" title="Close">Close</a>

<h1>Billing</h1>
<h2>Billing Date</h2>
<div class="help-text">
DigitalOcean bills on the 1st of each month for the prior month's usage.
 That means you will receive an invoice on March 1st for your usage for 
Feb 1 - Feb 28th. After the invoice is generated we bill for the 
outstanding balance either on the 1st or 2nd of each month.
</div>
<h2>Balance</h2>
<div class="help-text">
The balance displays how much is currently outstanding on your account. 
If there is a sum owed it will appear in red. If your current credits 
offset your current usage you will see the remaining balance of your 
credits in green.
</div>
<div class="help-text">
The balance is updated daily.
</div>
<h2>Payment - Credit Card or Paypal</h2>
<div class="help-text">
DigitalOcean accepts Credit Cards or Paypal payments. If you provide a 
credit card we will automatically attempt to bill you on the 1st of each
 month for the prior month's usage. If the payment fails we will 
automatically attempt to re-bill you until the payment clears once a 
day.
</div>
<h2>Current Usage</h2>
<div class="help-text">
Current Usage displays the current charges that you have incurred for 
the current month. You can also click on the link to see an itemized 
invoice showing the specific charges that your account has incurred for 
the month.
</div>
</div>


</div>
<a data-original-title="Help" class="helpers help open" data-toggle="tooltip" href="#pageslide-contents" id="help_pageslide" title=""></a>
</div>


<script>
  //<![CDATA[
    $(document).ready(function() {
      function status_callback(data) {
        if (data['events'].length > 0) {
          $.each(data['events'], function(idx, ev) {
            if ($.cookie('status_event_' + ev.id) === undefined) {
              var el = $('<div id="status_event_' + ev.id + '" class="warning flash notices"><div data-eventid="'+ ev.id +'" class="button">X</div><div class="button show_more" data-target="#EVENT'+ev.id+'" data-toggle="collapse">Show More</div><div class="title">'+ev.title+'</div><div class="update created_at">'+ev.created_at+'</div><div class="updates collapse" id="EVENT'+ev.id+'"></div>');
              $.each(ev['updates'], function(idx, update) {
                el.find(".updates").append('<br/><div class="update">'+update['update'].contents+'</div><div class="update created_at">'+update['update'].created_at+'</div>');
              });
              el.html(el.html().replace(/\n/g, '<br>'));
              $('.contents').prepend(el);
            }
          });
        }
      }
    
      $('div[data-eventid]').live("click", function() {
        var status_event_id = $(this).attr('data-eventid');
    
        $('#status_event_' + status_event_id).hide();
    
        //set a cookie to persist this state
        $.cookie('status_event_' + status_event_id, 'hidden', { expires: 7, path: '/' });
      });
    
      $('.notices .updates').live('hidden', function() {
        $(this).prevAll(".show_more").text("Show More");
      });
    
      $('.notices .updates').live('shown', function() {
        $(this).prevAll(".show_more").text("Show Less");
      });
    
      $.getJSON('https://status.digitalocean.com/api/v1/events/unresolved.js?callback=?', status_callback);
    });
  //]]>
</script>

<div class="modal" id="sudo-modal" style="display: none">
<div class="modal-container">
<div class="modal-header">
<a href="#" class="close" data-dismiss="sudo-modal"> </a>
<h3>Confirm Login</h3>
</div>
<div class="modal-body">
<span class="modal-error" style="display: none">
Sign in failed. Please try again.
</span>
<p>
</p><p>Please confirm your password for bj_liwei@yahoo.com.<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l,b=document.getElementsByTagName("script");l=b[b.length-1].previousSibling;a=l.getAttribute('data-cfemail');if(a){s='';r=parseInt(a.substr(0,2),16);for(j=2;a.length-j;j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}s=document.createTextNode(s);l.parentNode.replaceChild(s,l);}}catch(e){}})();
/* ]]> */
</script></p>
<p></p>
<form accept-charset="UTF-8" action="/login/refresh" class="vertical-form" data-remote="true" id="edit_user_407242" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="_method" value="put" type="hidden"><input name="authenticity_token" value="lTy911DKDYHjgEFdv6t0r1ClmNLGICOJT+50Hw7BkkA=" type="hidden"></div><input autocomplete="off" id="user_password" label="false" name="user[password]" placeholder="Password" size="30" type="password">
<input name="commit" value="Confirm" type="submit">
</form>

</div>
</div>
</div>

</body></html>